extends layout

block content
  div.container
    nav.navbar.navbar-default.navbar-fixed-top
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href="#") Project name
        div#navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href="#map") Карта
    div.content
