<div class="row mainpane">
    <div class="list col-md-3">
        <!--<div class="search">
            <input type="text" class="search__element form-control"/>
        </div>-->
        <div class="group">
            <label> 
                <input type="checkbox" class="groupItems">
                Группировать
            </label>
        </div>
        <div class="elements"></div>
    </div>
    <div class="map col-md-9">
        <div class="map_toggler"></div>
        <div class="map_finder col-md-3">
            <div class="map_finder__wrapper">
                <input type="text" class="form-control map_finder__element" />
            </div>
            <ul class="map_finder__results list-group"></ul>
        </div>
        <div class="map_container"></div>
    </div>
</div>
